*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.container{
  height: 100vh;
  background-color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social{
  color: #fff;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 450px;
}
.social__item{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: all 0.3s;
}
.social__item{
  cursor: pointer;
}
.whatsapp:hover{
  border-color: #4dc247;
  box-shadow: 0px 0px 35px #4dc247;
  color: #4dc247;
}
.twitter:hover{
  border-color: #6495ED;
  box-shadow: 0px 0px 35px #6495ED;
  color: #6495ED;
}
.facebook:hover{
  border-color: #0000FF;
  box-shadow: 0px 0px 35px #0000FF;
  color: #0000FF;
}
.instagram:hover{
  border-color: #FF0099;
  box-shadow: 0px 0px 35px #FF00CC;
  color: #CC00CC;
}
.google:hover{
  border-color: red;
  box-shadow: 0px 0px 35px red;
  color: red;
}
